/*.body {*/
/*    background: url("../Resources/Textures/Razeen/abstract2.jpg");*/
/*    background-size: cover;*/
/*}*/

@font-face {
    src: url("../Fonts/you-murderer/youmurdererbb_reg.ttf");
    font-family: ym;
}

@font-face {
    src: url("../Fonts/welcome-to-texas/WelcometoTexas.ttf");
    font-family: texas;
}

@font-face {
    src: url("../Fonts/carnivalee-freakshow/CarnevaleeFreakshow.ttf");
    font-family: carnival;
}

@font-face {
    src: url("../Fonts/vtc-karnival/VTC-Karnival-Fat.ttf");
    font-family: karn;
}


@font-face {
    src: url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');
    font-family:'Nosifer', cursive;
}


#HUD{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    background-color: rgba(0,0,0,0);
    visibility: visible;
}

.stats{
    font-family: karn;
    color: #c64e4e;
    font-size: 30px;
}

#topLeftBallCount {
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 30px;
    margin-left: 50px;
}

#ballCountLabel {
    display: inline-block;
}

#ballCountValue {
    display: inline-block;
}

#topRightWind {
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 50px;
}

#windLabel {
    display: inline-block;}

#windStrength {
    display: inline-block;

}

#windIcon{
    display: inline-block;
    margin-top: -20px;
}

#bottomLeftScore{
    position: fixed;
    text-align: center;
    z-index: 1;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    margin-left: 50px;
}

#scoreLabel {
    display: inline-block;
}

#scoreValue{
    display: inline-block;
}

.neon{
    font-family: carnival;
    position: absolute;
    margin-top: 20px;
    left: 30%;
    padding: 0 20px;
    font-size: 7em;
    color: #ffffff;
    text-shadow: 0 0 20px #ff005b;
}

.neon:after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
}

.neon:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 80%;
    background: #fe3a80;
    z-index: -2;
    opacity: 0.4;
    filter: blur(40px);
}

#GameOverHUD {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(128,0,0,0.6);
    visibility: hidden;
}

#GameOverText{
    z-index: 1;
    font-size: 150px;
    color: #44d4d4;
    display: inline-block;
}

.button{
    display: inline-block;

    width: 300px;
    height: 150px;

    float: bottom;
    border-radius: 20px;
    font-size: 60px;

    margin-left: 30px;

    transition-duration: 0.4s;
    cursor: pointer;

}

.restartButton {
    background-color: white;
    color: black;
    border: 2px solid #23c2be;
}

.restartButton:hover {
    background-color: #23c2be;
}

.mainMenuButton {
    background-color: white;
    color: black;
    border: 2px solid #23c2be;
}

.mainMenuButton:hover {
    background-color: #23c2be;
}

