.body {
    background: url("../Resources/Textures/Razeen/abstract2.jpg");
    background-size: cover;
}

@font-face {
    src: url("../Fonts/you-murderer/youmurdererbb_reg.ttf");
    font-family: ym;
}

@font-face {
    src: url("../Fonts/welcome-to-texas/WelcometoTexas.ttf");
    font-family: texas;
}

@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');

.neon{
    font-family: 'Nosifer', cursive;
    position: absolute;
    margin-top: 20px;
    margin-left: 500px;
    padding: 0 20px;
    font-size: 5em;
    color: #ffffff;
    text-shadow: 0 0 20px #ff005b;
}

.neon:after{

    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
}

.neon:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 80%;
    background: #fe3a80;
    z-index: -2;
    opacity: 0.4;
    filter: blur(40px);
}

#HUD{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*margin-top: 300px;*/
    background-color: rgba(0,0,0,0);
}

#HUD-Left {
   position: absolute;
    text-align: center;
    z-index: 100;
    top: -20px;
    width: 100%;
    right: 100px;
    display: block;
}

#ball_count {
    font-family: ym;
    color: red;
    font-size: 70px;
    line-height: 65px;
    float: left;
    padding: 0px 0px 0px 2%;
}

#ball_count_header {
    font-family: ym;
    color: red;
    font-size: 70px;
    line-height: 65px;
    float: left;
    padding: 0px 0px 0px 10%;
}

#HUD-Right {
    position: absolute;
    text-align: center;
    z-index: 100;
    top: -20px;
    right: 100px;
    width: 100%;
    display: block;
}

#Wind {
    font-family: ym;
    color: red;
    font-size: 70px;
    line-height: 65px;
    float: right;
    alignment: center;
    padding: 0px 0px 0px 2%;
}

#weight {
    font-family: ym;
    color: red;
    font-size: 70px;
    line-height: 65px;
    float: right;
    padding: 0px 0px 0px 2%;
}

#arrowIcon{
    float: right;
    margin-right: 200px;
    margin-top: 100px;
}

#Score {
    position: absolute;
    text-align: center;
    z-index: 100;
    bottom: 450px;
    right: 20px;
    width: 100%;
    display: block;

    font-family: ym;
    color: red;
    font-size: 70px;
    line-height: 65px;
    padding: 0px 0px 0px 2%;
}

#Game_Over {
    position: absolute;
    text-align: center;
    z-index: 100;
    bottom: 200px;
    right: 20px;
    width: 100%;
    display: block;

    font-family: texas;
    color: white;
    font-size: 80px;
    line-height: 65px;
    padding: 0px 0px 0px 2%;
}

#Buttons {

    position: absolute;
    text-align: center;
    z-index: 100;
    bottom: 100px;
    right: 20px;
    width: 100%;
    display: block;
}

