@font-face {
    src: url("../Resources/Fonts/vtc-karnival/VTC-Karnival-Fat.ttf");
    font-family: karn;
}

.button{
    position: absolute;

    display: inline-block;

    width: 40vmin;
    height: 20vmin;

    border-radius: 10vmin;

    font-family: karn;
    font-size: 7vmin;

    margin-top: 5vh;
    margin-left: 5vw;
    transition-duration: 0.1s;

    background-color: transparent;
    color: #23c2be;
    border: 2vmin solid #23c2be;

}

.button:hover{
    background-color: #e83962;
}
