@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');

body{
    margin:0;
    padding: 0;
    background: url("bg.jpg");
    background-size: cover;
    font-family: 'Nosifer', cursive;
}

.neon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0 20px;
    font-size: 10em;
    color: #fff;
    text-shadow: 0 0 20px #ff005b;
}

.neon:after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
}

.neon:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: #fe3a80;
    z-index: -2;
    opacity: 0.4;
    filter: blur(40px);
}
